main {
    font-family: Courier, serif;
    margin: 250px;
    transform: translateX(400px);
}

body {
    background-image: url("pokemon.jpg")
}

.column {
    float: left;
    width: 21%;
    padding: 15px;
    transform: translateX(-85px);
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}