{% extends 'base.html' %}
{% block head %}
<title>Pokemon Game</title>
{% endblock %}
{% block body %}
<main>
   <h1>POKEMON BATTLE</h1>
   <p>Tvoj pokemon je <b>{{ yourPokemon.name }}</b></p>
   {{ yourPokemonHealthDisplay }}
   <form class="form-inline" method="POST" action="{{ url_for('attack') }}">
      <select name="comp_select" class="selectpicker form-control">
         <option value="Shield">Štit</option>
         <option value="Potion">Napitak</option>
      </select>
      <button type="submit" class="btn btn-default">ISKORISTI</button>
   </form>
   <h1><a href="{{ url_for('game') }}">VRATI SE NAZAD</a></h1>
</main>
{% endblock %}